.hero {
  position: absolute;
  top: 0;


  img {
    width: 100vw;
    height: 80vh;
    z-index: 10;
  }

  &__container {
    width: 50%;
  }

  [class*="__statement"] {
    transition: ease-in-out .2s;
    z-index: 1;

    h1 {
      margin: 0;
    }

  }

  [class*="--fixed"] {
    position: fixed;
    top: 50%;
    color: white;
    width: 50%;
  }

  [class*="--absolute"] {
    position: relative;
    color: black;
  }

  &__about {
    margin-top: 100px;
    margin-bottom: 2000px;

    &__text {
      font-size: 2rem;
      margin: 0;
    }
  }
}